$c-red: #D43F3A;
$c-dark: #2F2F2F;
$c-light: #DEDEDE;
$c-white: #FFFFFF;
$c-grey: #C0C0C0;


// apply a natural box layout model to all elements, but allowing components to change
html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
  
  &:before,
  &:after {
    box-sizing: inherit;
  }
}

// boilerplate
body {
  margin: 0;
  padding: 0;
  color: $c-dark;
  font-family: sans-serif;
}

ul {
  padding-left: none;
  list-style: none;
}

img {
  max-width: 100%;
}

input {
  border: $c-dark 0.1rem solid;
}

button {
  font-size: 1rem;
  border: $c-dark 0.05rem solid;
  border-radius: 0.3rem;
  height: 2rem;
  margin: 0.8rem 0;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
  &:hover {
    box-shadow: 0.1rem 0.1rem 0.1rem $c-grey, 0.1rem 0.1rem 0.1rem $c-grey;
  }
}

li {
  font-size: 1.7rem;
}

input[type=checkbox] {
  transform: scale(2);
  margin-right: 0.5rem;
}


.button {
  font-size: 1rem;
  border: $c-dark 0.05rem solid;
  font-family: sans-serif;
  padding: 0.5rem;
  background: $c-grey;
  color: $c-dark;
  text-decoration: none;
  border-radius: 0.3rem;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;


  &:hover {
    box-shadow: 0.1rem 0.1rem 0.1rem $c-grey,
    0.1rem 0.1rem 0.1rem $c-grey;
  }
}


.section {
  padding: 2rem;
  margin: 0;
}

.container {
  max-width: 65rem;
  margin: 0 auto;
}

.header {
  background: $c-red;
  margin-top: -1.35rem;
}

.status {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.current-week {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.list {
  display: flex;
  flex-direction: column;

  &__item {
    border-top: 0.05rem solid $c-grey;
    

  }

  &__item__head {
    display: flex;
    justify-content: space-between;
    padding: 0.2rem;
  }

  &__user {
    font-size: 1.2rem;
  }
}

.top5-input {
  width: 100%;
  font-size: 1rem;
}