<div class="section">
    <div class="container">
        <form {{action "save" on "submit"}}>
            {{input placeholder="email" value=formValues.email}}
            <br>
            {{input placeholder="password" value=formValues.password type="password"}}
            <br>
            <button type="submit">Sign In</button>
        </form>
    </div>
</div>