{{#each model as |item|}}
<div class="list__item">
    <div class="list__item__head">
        <h3>{{item.name}}</h3>
        <button {{action "toggleBody" item}}>View Top 5</button>
    </div>
    {{!-- {{#if item._display}} {{#each item.goals as |thing|}}
    <p>
        <input type="checkbox" disabled>{{thing.name}}</p>
    {{/each}} {{/if}} --}}
</div>
{{/each}}