<div class="status">
    <h3 class="status__text">Your current completion status:</h3>
    <h1 class="status__percent">100%</h1>
</div>
<div class="current-week">
    <h3>Week of x/x/x</h3>
    <div class="buttons">
        <button class="add">Add a new goal</button>
        <button class="add">View this week's Top 5</button>
    </div>
</div>