<div class="section">
    <div class="container">
        <div class="status">
            <h3>Logged in as {{session.currentUser.displayName}}</h3>
            <h3>Current completion status:</h3>
            <h2>100%</h2>
        </div>
        <div class="nav">
        {{#link-to 'creategoal' class="button"}}Create a new goal{{/link-to}}
        {{#link-to 'list' class="button"}}View Top Fives{{/link-to}}
        </div>
    </div>
</div>