<div class="section">
    <div class="container">
        {{#link-to "index" class="button"}}Home{{/link-to}}
        <div class="list">
            <div class="list__user">
                <h2>{{session.currentUser.displayName}}'s Top 5</h2>
            </div>
            {{outlet}}
        </div>
    </div>
</div>