<div class="section">
    <div class="container">
        <div class="list">
            <div class="list__user">
                <h2>Your Top 5</h2>
                <ul>
                    <li><input type="checkbox">xxxxxx</li>
                    <li><input type="checkbox">xxxxxx</li>
                    <li><input type="checkbox">xxxxxx</li>
                    <li><input type="checkbox">xxxxxx</li>
                    <li><input type="checkbox">xxxxxx</li>
                </ul>
            </div>
        </div>
    </div>
</div>